.freshman {
    background-color: yellow;
  }
  

  .junior {
    background-color: rgb(194, 75, 205);
  }
  
  .senior {
    background-color: rgb(57, 90, 233);
  }
  
  .default {
    background-color: gray;
  }
